* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
.header {
    background: #202122;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .header__container {
    width: 100%;
    height: 100%;
    padding: 15px 105px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .header__container .header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .header__container .header__logo a {
    width: 100%;
    height: 100%;
}
.header .header__container .header__logo a  img {
    width: 75px;
    height: 75px;
}
.header .header__nav {
    display: flex;
}
.header .header__nav .header__list {
    width: 100%;
    height: 100%;
    display: flex;
    list-style: none;
    gap: 35px;
}
.header .header__nav .header__list .header__item {
    justify-content: center;
    align-items: center;
    display: flex;
}
.header .header__nav .header__list .header__item.active {
    background: #c78c00;
    padding: 15px 38px;
}
.header .header__nav .header__list .header__item a {
    font-size: 22px;
    text-decoration: none;
    color: #cb8606;
}
.header .header__nav .header__list .header__item a.active {
    color: #202122 !important;
}
.header .header__search {
    height: 35px;
    width: 230px;
    display: grid;
    grid-template-columns: 85% 15%;
}
.header .header__search input {
    border: 1px solid #c9c9c7;
    text-indent: 17px;
    font-size: 16px;
    height: 100%;
    text-transform: capitalize;
    outline: none;
}
.header .header__search .fa-solid {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #cb8606;
}
.fa-magnifying-glass:before, .fa-search:before {
    content: "\f002";
    font-size: 23px;
    color: #cb8606;
}
.landing {
    background: #ffe6ad;
    position: relative;
    display: grid;
    grid-template-rows: 80vh 50vh;
}
.landing .background {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.landing .background::before {
    content: "";
    background: url(../imgs/openspace.jpg) no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
}
.landing .background .container {
    position: relative;
    width: 87%;
    height: 56vh;
    display: grid;
    grid-template-rows: 55% 15% 30%;
    padding: 25px 20px;
    background: #00000094;
    z-index: 1;
    box-shadow: 0 0 5px #00000094;
    gap: 10px;
}
.landing .background .container .title {
    color: white;
    font-size: 90px;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    font-weight: bold;
}
.landing .background .container .text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 15px;
    font-family: sans-serif;
    line-height: 1.4;
}
.landing .background .container .connect-with-us {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-block: 11px;
}
.landing .background .container .connect-with-us a {
    background: #c78c00;
    padding: 0px 20px;
    text-decoration: none;
    color: #202122;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.landing .background .container .connect-with-us a h4 {
    display: flex;
    gap: 12px;
    font-size: 17px;
}
.landing .aboutUs {
    width: 87%;
    height: 100%;
    margin-inline: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}
.landing .aboutUs .left {
    height: 90%;
    padding-inline: 18px;
}
.landing .aboutUs .left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.landing .aboutUs .right {
    height: 90%;
    display: flex;
}
.landing .aboutUs .right .content {
    display: grid;
    grid-template-rows: 20% 40% 0% 40%;
}
.landing .aboutUs .right .content h2 {
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 900;
    display: flex;
    align-items: center;
}
.landing .aboutUs .right .content p {
    font-size: 17px;
    line-height: 1.4;
}

.services {
    margin-top: 45px;
    width: 87%;
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px 25px;
}
.services > h1 {
    width: 100%;
    margin-bottom: 17px;
    font-size: 33px;
    font-family: sans-serif;
    font-weight: 900;
}
.services .service {
    background: #ffe6ad;
    display: grid;
    width: calc((100% / 3) - 30px);
    height: 500px;
    grid-template-rows: 55% 45%;
}
.services .service .image > img {
    width: 100%;
    height: 100%;
}
.services .service > .content {
    padding: 0 10px;
    display: grid;
    grid-template-rows: 22% 38% 30%;
    gap: 3.33%;
    box-sizing: border-box;
}
.services .service .content > h2 {
    display: flex;
    align-items: center;
}
.services .service .content > p {
    font-size: 13px;
    display: flex;
    align-items: center;
    line-height: 1.4;
}
.services .service .content .link {
    background: #202122;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.services .service .content .link > h4 {
    display: flex;
    gap: 11px;
}

.ourVision {
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: 6.5%;
    color: white;
    margin-block: 45px;
    gap: 15px;
    position: relative;
}
.ourVision::before {
    content: "";
    background: url(../imgs/bateau.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: center;
    top: 0;
    left: 0;
    z-index: -1;
}
.ourVision > h2 {
    font-size: 33px;
    margin: 0;
    text-transform: capitalize;
    font-weight: 900;
}
.ourVision > p {
    font-size: 15px;
    line-height: 1.7;
    margin: 0;
}
.ourVision .learn-more {
    width: fit-content;
    padding: 20px 35px;
    background: #202122;
}
.ourVision .learn-more a {
    display: flex;
    gap: 13px;
    color: white;
}

.ourTeam {
    width: 87%;
    display: flex;
    flex-direction: column;
    margin-inline: auto;
}
.ourTeam > h1 {
    font-size: 35px;
    margin-bottom: 25px;
    font-weight: 900;
}
.ourTeam .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(690px, 1fr));
    width: 100%;
    min-height: 110vh;
}
.ourTeam .container .bio1, .ourTeam .container .bio2 {
    display: grid;
    grid-template-rows: 50% 50%;
    background: #ffe6ad;
}
.ourTeam .container .bio1 .img img, .ourTeam .container .bio2 .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ourTeam .container .bio1 .content, .ourTeam .container .bio2 .content {
    display: grid;
    grid-template-rows: 25% 1fr;
    padding-inline: 15px;
    gap: 20px;
}
.ourTeam .container .bio1 .content .personalInfos, .ourTeam .container .bio2 .content .personalInfos {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 10px;
    border-bottom: 2px solid #f5bf44;
}
.ourTeam .container .bio1 .content .personalInfos > h2, .ourTeam .container .bio2 .content .personalInfos > h2 {
    font-size: 30px;
}
.ourTeam .container .bio1 .content .personalInfos > h5, .ourTeam .container .bio2 .content .personalInfos > h5 {
    font-size: 15px;
    margin-bottom: 3px;
}

.contactUs {
    margin-block: 40px;
    width: 87%;
    margin-inline: auto;
    display: grid;
}
.contactUs > h1 {
    font-size: 35px;
    margin-bottom: 25px;
    font-weight: 900;
}
.contactUs .container1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.contactUs .container1 .container-sendMessage {
    width: 50%;
    padding-inline: 35px;
}
.contactUs .container1 .container-sendMessage > h2 {
    margin-block: 10px 15px;
}
.contactUs .container1 .container-sendMessage form {
    display: grid;
    grid-template-rows: 20px 35px;
    gap: 6px;
    width: 100%;
    padding-bottom: 30px;
}
.contactUs .container1 .container-sendMessage form label {
    display: flex;
    align-items: end;
}
.contactUs .container1 .container-sendMessage form br {
    display: none;
}
.contactUs .container1 .container-sendMessage form input {
    height: 35px;
    margin-bottom: 7px;
}
.contactUs .container1 .container-sendMessage form input[type="submit"] {
    width: 100px;
    height: 45px;
    margin-top: 11px;
    background: #202122;
    border: 1px solid #c78c00;
    color: #c78c00;
    font-size: 19px;
    cursor: pointer;
}
.contactUs .container1 .container-location {
    width: 50%;
    padding-inline: 35px;
    display: grid;
    grid-template-rows: 10% 1fr;
    padding-bottom: 35px;
}
.contactUs .container1 .container-location > h2 {
    margin-block: 10px 15px;
    display: flex;
    align-items: center;
}
.contactUs .container1 .container-location iframe {
    border: 0;
    width: 100%;
    height: 100%;
}
.contactUs .container2 {
    margin-top: 25px;
}
.contactUs .container2 > h2 {
    margin-block: 10px 15px;
}
.contactUs .container2 table {
    width: 100%;
}
.contactUs .container2 table tr {
    height: 35px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.contactUs .container2 table tr th {
    background-color: #ffe6ad;
    border: 1px solid #00000057;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contactUs .container2 table tr td {
    border: 1px solid #00000057;
    display: flex;
    align-items: center;
    padding-inline: 15px;
}

footer {
    width: 100%;
    height: 20vh;
    background: #202122;
    display: flex;
    align-items: center;
}
footer p {
    width: 87%;
    margin-inline: auto;
    font-size: 20px;
    line-height: 2;
    color: #c08611;
}
footer p a {
    color: #c08611;
    text-decoration: underline;
}

@media screen and (max-width: 660px) {
    .header {
        height: unset;
    }
    .header .header__container {
        padding: 12px;
        flex-direction: column;
    }
    .header .header__container .header__logo {
        width: 100%;
        background-color: #c78c00;
    }
    .header .header__nav {
        height: 50vh;
        width: 100%;
    }
    .header .header__nav .header__list {
        flex-direction: column;
    }
    .header .header__nav .header__list .header__item.active {
        width: 100%;
    }
    .header .header__search {
        width: 100%;
        height: 45px;
    }
    .landing {
        grid-template-rows: 80vh 90vh;
    }
    .landing .background .container {
        width: 100%;
        height: 85%;
    }
    .landing .background .container .title {
        font-size: 60px;
    }
    .landing .background .container .connect-with-us a {
        height: 75%;
    }
    .landing .aboutUs {
        grid-template-columns: 1fr;
        width: 95%;
    }
    .landing .aboutUs .left {
        padding: 0;
    }
    .services .service {
        width: 100%;
    }
    .services .service .content .link {
        width: 40%;
    }
    .ourVision > p {
        font-size: 12px;
    }
    .ourTeam .container {
        gap: 34px;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
    .ourTeam .container .bio1, .ourTeam .container .bio2 {
        grid-template-rows: 65% 30%;
        gap: 5%;
    }
    .ourTeam .container .bio2 .content {
        order: 2;
    }
    .ourTeam .container .bio1 .content .personalInfos, .ourTeam .container .bio2 .content .personalInfos {
        gap: unset;
    }
    .ourTeam .container .bio1 .content .personalInfos > h2, .ourTeam .container .bio2 .content .personalInfos > h2 {
        font-size: 30px;
    }
    .ourTeam .container .bio1 .content .biography > h5, .ourTeam .container .bio2 .content .biography > h5 {
        font-size: 15px;
        line-height: 1.5;
    }
    .contactUs .container1 .container-sendMessage {
        width: 100%;
    }
    .contactUs .container1 .container-location {
        width: 100%;
        height: 400px;
    }
}